<div class="topbar" id="topbar" name="topbar">
    <div class="leftpart" id="leftpart">
        <a href="/"> <img src="./images/craiyon_201945_abstract_neon_purple_blue_game_controller_concept_art_logo.png" height="50" width="50"> </a>
    </div>
        <div class="rightpart" id="rightpart">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>
</div>


<a href="userdetalis"><div>username</div></a>
<a href="logoff"><div>logoff</div></a>
<a href="/cart"><div>cart</div></a>