<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/views/frontScripts/registerScript.js"> </script>
    <title>Home</title>
</head>
<body>
    <div class="decriptions" id="descriptions" name="descriptions">
        
        <% descriptions.forEach(desc =>{ %>
        
        <p>
            <%= desc.desc %>
        </p> 
        <% }) %>

    </div>
</body>
</html>