<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/views/frontScripts/registerScript.js"> </script>
    <title>Home</title>
</head>
<body>

    <div class="topbar" id="topbar" name="topbar">
        <div class="leftpart" id="leftpart">
            <a href="/"> <img src="../images/craiyon_201945_abstract_neon_purple_blue_game_controller_concept_art_logo.png" height="50" width="50"> </a>
        </div>
            <div class="rightpart" id="rightpart">

        </div>
    </div>
    <img src="../images/itemImages/<%= prodid %>.png" alt="<%= prodid %> Image" width="500" height="400">
    
    <div class="decriptions" id="descriptions" name="descriptions">
        
        <% descriptions.forEach(desc =>{ %>
        
        <p>
            <%= desc.desc %>
        </p> 
        <% }) %>

    </div>
</body>
</html>