body {
    background: blueviolet url('../images/bg.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}/* Other styles remain unchanged */
.topbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
}

.leftpart {
    text-align: left;
}

.rightpart {
    text-align: right;
}

.itemList {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    background: local;
}

.itemList table {
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
}

#baner {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
}



/* Your existing styles */
.topbar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: gray;
}

.leftpart, .rightpart {
    padding: 5px; /* Add padding for better visual */
}

.rightpart{
    padding-right: 10 px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
}

.wrap {
    border: 1px solid;
    border-color: black;
    align-items: center;
    display: flex;
}
.topElement {
    align-items: center;
    padding: 13px;
}

.wrap a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Set text color */
}

.wrap :hover {
    background-color: rgb(0, 0, 0);
    color: blueviolet;
    border: 1px;
}
table{
    background-color: blueviolet;
}

.orderTables table {
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    width: 75%;
}

.orderTables h1 {
    margin-left: auto;
    margin-right: auto;
}
.yorders {
    margin-left: auto;
    margin-right: auto;
}

.orderDiv {
    color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    width: 75%;
    margin: auto;
}

.orderDiv a {
    padding: 3%;
    font-size: 20px; 
}

.decriptions { 
    background-color:blueviolet;
    font-size: 20px;
    color: yellow;
}